header {
    background-color: azure;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: rgb(203, 251, 253);
    display: inline-block;
    width: 75%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav ul li {
    display: inline;
}