* {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 75px;
}

header, main, .portfolio-pages {
    border-bottom: 1px solid gray;
}

h2 {
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

h4 {
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: auto;  
    gap: 30px;
}

nav ul {
    display: inline-block;
    text-align: center;
    padding: 0; 
}

nav ul li {
    display: inline-block;
    padding: 2px 25px
}

footer {
    background-color: beige;
    margin-top: auto;
}

footer h2 {
    background-color:seashell;
}

.interests {
    display: flex;
    flex-wrap: wrap;
}

.interest-box {
    margin: 10px;
    width: 200px;
}

.interest-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
}


@media only screen and (max-width: 800px) { 
    h1{
        font-size: 1rem;
        padding-top: 5;
        padding-bottom: 5;
    }

    header {
        flex-direction: column;
        gap: 5px;
    }

    nav {
        margin-right: auto;
    }

    main {
        margin-top: 125px;
    }
}