ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

header {
    background-color: azure;
}

header h1 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: rgb(203, 251, 253);
}

nav ul li {
    display: inline;
}